/*  */
/*  */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App__a {
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  margin-top: 10px;

  a {
    text-decoration: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: #000;
  }

  a:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
  }
}

hr {
  margin: 0;
}
