//
//

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

// * {
//   margin: 0;
// }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app__router-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #000;

  a {
    display: block;
    // border: 1px solid black;
    // padding: 10px;
    font-family: 'Yusei Magic', sans-serif;
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
  }

  @media screen and (max-width: 500px) {
    a {
      font-size: 1rem;
      margin: 5px 0;
    }
  }
}
