//
//

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
  margin: 0;
}

.basicexample__link-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #000;

  a {
    margin: 10px 0 15px 0;
    font-family: 'Yusei Magic', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
  }

  @media screen and (max-width: 520px) {
    a {
      font-size: 1.1rem;
    }
  }
}
